<style type="text/css">
	.pointer_class{
		cursor: pointer;
	}
</style>

<div class="row">
	<div class="col s2 offset-s1 center-align">
	  <div class="file-field input-field">
	    <div class="btn">
	      <span>add</span>
	      <input type="file" accept=".zip" nv-file-select  filters="queueLimit,filter1" uploader="uploader" options="{'url':'save_new_exp'}">
	    </div>
	    <div class="file-path-wrapper">
	      <input class="file-path validate" type="text">
	    </div>
	  </div>
			<ul>
			    <li ng-repeat="item in uploader.queue">
			        <button ng-click="item.upload()" class="btn waves-effect waves-light">Upload<i class="material-icons right">send</i></button>
			    </li>
			</ul>

      </div>
      <div class="col s4 offset-s1">
              <div class="card-panel" ng-repeat="exp in exps">
              	<div class="row">
					<div class="col s9">
						<div class="row">
							<div class="col s1">
								<a style="color:black;" class="waves-effect btn-small" ng-click="detail_view=!detail_view"><i class="material-icons tiny" style="padding-top:20px">perm_media</i>	</a>
							</div>
							<div class="col s11">
								<h5>{{exp.name}}</h5>
							</div>
						</div>

					<div ng-init="detail_view=false" ng-show="detail_view">

						<script type="text/ng-template" id="children_renderer">
							<div  ng-if="child.name!='hidden'">
								<b class="pointer_class" ng-if="child.type=='folder'"><i class="material-icons tiny">perm_media</i>	{{child.name}}</b>
							</div>
							<div ng-if="child.name!='hidden'&&child.type=='other'">{{child.name}}</div>
							
							<ul ng-if="child.children" style="padding-left: 30px; display: none;">
						    	<li ng-repeat="child in child.children" ng-include="'children_renderer'" ng-click="li_clicked($event)">
						    	</li>
							</ul>
						</script>
						  
							<ul>	
								<li ng-repeat="child in exp.children" ng-include="'children_renderer'" ng-click="li_clicked($event)"></li>
							</ul>
					
					</div>
					</div>
					<div class="col s3">
							<a style="color:black;" class="waves-effect btn-small" ng-click="download(exp.name)"><i class="small material-icons">play_for_work</i></a>
							<a style="color:black;" class="waves-effect btn-small" ng-click="delete(exp.name)"><i class="material-icons">delete</i></a>
					</div>	
				</div>
			</div>
       </div>
       <div class="col s4 right-align">
       	<i class="material-icons" style="position: relative;top: 5px;">perm_identity</i><span>{{logged_user}}</span>
       	<a class="btn-floating" ng-click="logout();"><i class="material-icons">power_settings_new</i></a>
       </div>
</div>

<!-- Modal Structure -->
<div id="delete_modal" class="modal">
	<div class="modal-content">
    	<h4>Delete Experiment</h4>
    	<p>Delete experiment: {{about_to_be_deleted}} ?</p>
	</div>
	<div class="modal-footer">
    	<!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
    	<button class="btn-flat" ng-click="noDelete()">No</button>
    	<button class="btn-flat" ng-click="confirmedDeletion(about_to_be_deleted)">Yes</button>
	</div>
</div>


<div id="same_name_modal" class="modal">
	<div class="modal-content">
    	<h4>Experiment!</h4>
    	<p>File with same name already uploaded!</p>
	</div>
	<div class="modal-footer">
	      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>

<div id="must_zip_modal" class="modal">
	<div class="modal-content">
    	<h4>Experiment!</h4>
    	<p>File must be .zip!</p>
	</div>
	<div class="modal-footer">
	      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>